:root {
    --base-grid: 8px;
    --colour-background: black;
    --colour-background-folded: #E62F27;
    --colour-text: #fff;

}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    /*  padding: calc(var(--base-grid)*10);*/

}

.articles {

    margin: calc(var(--base-grid)*14) auto calc(var(--base-grid)*20);
    display: grid;
    grid-auto-flow: dense;
    grid-row-gap: calc(var(--base-grid)*8);
    /*    grid-column-gap: calc(var(--base-grid)*6);*/
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--base-grid)*35), 1fr));
    justify-items: center;
    position: relative;
}

.articles__content articles__content--lhs {}

.articles__footer img {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    /*    transform: translateX(-100%) rotate(-90deg) translateY(-100%);*/
    transform-origin: right top;
}

.articles__article {
    cursor: pointer;
    display: block;
    position: relative;
    perspective: 1000px;
    animation-name: animateIn;
    animation-duration: .35s;
    animation-delay: calc(var(--animation-order)*100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}


.articles__article:nth-child(1) {
    /*     grid-column:10/ -3;*/
    transform: translateY(50%);
    margin-top: 220px;
}

.articles__article:nth-child(2) {
    /*   grid-column: 5/ -5;*/

    margin-top: 220px;
}

.articles__article:nth-child(3) {
    /*
grid-column:7/ -2;
   
*/
    transform: translateY(-50%);
    margin-top: 220px;
    margin-right: 15px;
    --rotation
}


.articles__article:before {
    content: "";
    position: absolute;
    top: calc(var(--base-grid)*-2);
    left: calc(var(--base-grid)*-2);
    /*  border: 2px dashed var(--colour-background);*/
    border: 2px solid black;
    z-index: -1;
}

.articles__article,
.articles__article:before {
    width: calc(var(--base-grid)*35);
    height: calc(var(--base-grid)*35);
}

.articles__link {
    background-color: var(--colour-body-background);
    border: 2px solid var(--colour-background);
    display: block;
    width: 100%;
    height: 100%;

}

.articles__link:after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(var(--base-grid)*3);
    width: calc(var(--base-grid)*2);
    height: calc(var(--base-grid)*2);
    margin-top: calc(var(--base-grid)*-1);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    background-color: var(--colour-background);
    opacity: 0;
    transition: opacity .5s ease-in, transform .3s ease-in-out 0ms;
}

.articles__content {
    background-color: var(--colour-background);
    color: var(--colour-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--base-grid)*2);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--colour-background);
}

.articles__content--lhs {
    -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);

}

.articles__content--rhs {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    transition: transform .5s ease-in-out, background-color .4s ease-in-out;
}

.articles__title {
    font-size: calc(var(--base-grid)*3);
    line-height: 1.125;
    font-weight: 400;
    letter-spacing: -.01em;
}

.articles__footer {
    margin-top: auto;
    font-size: calc(var(--base-grid)*2);
    line-height: calc(var(--base-grid)*2);
    display: flex;
    justify-content: space-between;
}

.articles__link:hover .articles__content--rhs {
    background-color: var(--colour-background-folded);
    transform: rotateY(-50deg);
}

.articles__link:hover:after {
    opacity: 1;
    transform: translateX(calc(var(--base-grid)*1.5));
    transition: opacity .5s ease-in, transform .3s ease-in-out .25s;
}

@media screen and (orientation:portrait) and (max-width:992px) {
    .articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 130px;
        padding-left: 15px;

    }

    .articles__article:nth-child(1) {
        margin-top: 0;


    }
}
@media screen and (max-width:667px){
    .articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 130px;
        padding-left: 15px;

    }

}
